.Graph {
  width: 100%;
  visibility: hidden;
}

@media (max-width: 620px) {
  .Graph {
    height: 60px;
    width: 40vw;
  }
}

@media (min-width: 900px) {
  .Graph {
    visibility: visible;
  }
}
