.Graph {
  width: 100%;
}

.Message {
  align-self: center;
  font-size: 9px;
  color: rgba(0, 0, 0, 0.562);
  max-width: 37%;
}

.Hide {
  display: none;
}

@media (max-width: 620px) {
  .Graph {
    height: 60px;
    width: 40vw;
  }
}

@media (min-width: 621px) {
  .Message {
    font-size: 2vw;
  }
}
