.Name {
  font-size: 15px;
  padding: 0;
  margin: 0;
  text-align: left;
  overflow: visible;
}

.Symbol {
  font-size: 60px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.Wrapper {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin-left: 5%;
  white-space: nowrap;
  padding-right: 5px;
}

@media (max-width: 800px) {
  .Symbol {
    font-size: 7vw;
  }

  .Name {
    font-size: 1.8vw;
  }
}
