.Name {
  font-size: 15px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.Symbol {
  font-size: 60px;
  padding: 0;
  margin: 0;
  text-align: left;
}

.Wrapper {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin-left: 5%;
}

@media (max-width: 620px) {
  .Symbol {
    font-size: 26px;
  }
  .Name {
    font-size: 12px;
  }
}
