.StockTicker {
  height: 112px;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  border-radius: 12px;
  margin: 8px auto 8px auto;
  width: 95%;
  min-width: 471px;
  box-shadow: 0px 0px 8px -3px rgba(85, 85, 85, 0.637);
  position: relative;
}

.StockTicker h1 {
  font-weight: 0;
  font-size: 18px;
  color: rgb(0, 0, 0);
  visibility: hidden;
  padding: 19px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 28px;
  width: 100px;
}

.StockTicker:hover h1 {
  visibility: visible;
  animation: del-hover 600ms 1 ease-out;
  cursor: pointer;
}

.StockTicker:hover h1:hover {
  text-shadow: 0 0 40px rgba(255, 255, 255, 0.199);
  color: rgba(0, 0, 0, 0.685);
}

.StockTicker p {
  z-index: 5;
}

.RemoveButton {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.452);
  margin: 1% 1% 1% 1%;
  padding: 2% 0 2%;
  display: none;
}

.RemoveButtonDesktop {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 0.7%;
  top: 5%;
  cursor: pointer;
}

.RemoveButton:hover {
  background-color: rgba(255, 255, 255, 0.322);
  cursor: pointer;
}

@media (max-width: 800px) {
  .StockTicker {
    height: 12vw;
  }
  .RemoveButtonDesktop {
    width: 2.4vw;
    height: 2.4vw;
  }
}

@media (max-width: 620px) {
  .StockTicker {
    min-width: 235px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: wrap;
    height: auto;
  }

  .StockTicker h1 {
    display: none;
  }

  .RemoveButton {
    display: block;
  }

  .RemoveButtonDesktop {
    visibility: hidden;
  }
}

@keyframes del-hover {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
